<ion-grid>
    <ion-row>
        <ion-col>
            <ion-card *ngFor="let group of groups">
                <ion-card-header>
                    {{group}}
                </ion-card-header>
                <ion-list>
                    <ion-row *ngFor="let match of matches">
                        <ion-col>{{match.team1}}</ion-col>
                        <ion-col col-6>
                            <ion-row justify-content-around>
                                <ion-col col-auto>
                                    <ion-input type="tel" [(ngModel)]="match.score1"></ion-input>
                                </ion-col>
                                <ion-col col-auto>
                                    <h1>X</h1>
                                </ion-col>
                                <ion-col col-auto>
                                    <ion-input type="tel" [(ngModel)]="match.score2"></ion-input>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>{{match.team2}}</ion-col>
                    </ion-row>
                </ion-list>
            </ion-card>
        </ion-col>
        <ion-col>

        </ion-col>
    </ion-row>
</ion-grid>